<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <connectionStrings>
    <add name="ConnectionStringForMoviesDb"
        connectionString="Data Source=DESKTOP-6F6NE97\SQLSERVER2016DEV;
          Initial Catalog=Movies; User Id=test; Password=test1234;"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>